@media screen and (min-width:320px) and (max-width:730px)
{
    nav{
        height: auto;
        width: auto;
        padding: 20px;
    }
    nav ul{
        display: none;
    }
    .main1{
        height: auto;
        width: auto;
        padding: 50px;
    }
    .main1 h1{
        font-size: 30px;
    }
    .main2{
        height: auto;
        width: auto;
    }
    .main3{
        height: auto;
        width: auto;
    }
    .main3 div{
        height: auto;
        width: auto;
        padding: 20px;
    }
    .main4{
        height: auto;
        width: auto;
    }
    .main4 div{
        height: auto;
        width: auto;
        padding: 20px;
    }
    .main4a h1{
        font-size: 40px;
    }
    .main5{
        width: 100%;
        height: 100%;
    }
    .main6{
        width: 100%;
        height: 100%;
    }
    .main6a{
        align-items: center;
        justify-content: center;
        height: 150px;
    }
    .main6b{
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .main6b p{
        text-align: center;
    }
    .main6a h1{
        text-align: center;
    }
    .main7{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-left: 10px;
    }
    .main8{
        width: 100%;
        height: 100%;
    }
    .main9{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .main10{
        width: 100%;
        height: 100%;
    }
    .main11{
        height: auto;
        width: auto;
    }
    .main12{
        height: auto;
        width: auto;
    }
    .main13{
        height: 50vh;
        width: auto;
    }
    .main13b{
        padding: 20px;
    }
    .main13a{
        display: none;
    }
    .container{
        height: auto;
        width: auto;
    }
    .main14{
        height: auto;
        width: auto;
        padding: 40px;
    }
    .main15{
        height: auto;
        width: auto;
    }
    .main15a{
        height: auto;
        width: auto;
    }
    .main15b{
        height: auto;
        width: auto;
        /* width: 60vw; */
        /* height: 10vh; */
        /* margin-top: 10px; */
        /* border: 1px solid black; */
        /* border: none; */
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .foot{
        height: 10vh;
        width: auto;
    }
    .foot h1{
        text-align: center;
        font-size: x-small;
    }
}
@media screen and (min-width:320px) and (max-width:410px)
{
    .main15a{
        width: 66vw;
    }
    .message{
        width: 66vw;
    }
}